Flask
openai==1.12.0
openpyxl
pandas
playsound==1.2.2
edge-tts
SpeechRecognition
pyttsx3
gTTS
pydub
underthesea
nltk
scikit-learn
beautifulsoup4
googlesearch-python
requests
numpy
python-dotenv
gunicorn
