Flask
openai
openpyxl
pandas
playsound==1.2.2
edge-tts
SpeechRecognition
pyttsx3
gTTS
pydub
underthesea
nltk
scikit-learn
googletrans==4.0.0rc1
beautifulsoup4
googlesearch-python
requests
numpy
python-dotenv